/* line 1, ../../../app/stylesheets/layout.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/layout.sass */
body {
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, ../../../app/stylesheets/layout.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* line 20, ../../../app/stylesheets/layout.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 24, ../../../app/stylesheets/layout.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 29, ../../../app/stylesheets/layout.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 34, ../../../app/stylesheets/layout.sass */
#menu {
  background-color: #41660f;
  height: 70px;
  width: 100%;
  margin-top: 8px;
  float: left;
}

/* line 41, ../../../app/stylesheets/layout.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 250px;
  margin-left: 70px;
  margin-top: 8px;
  float: left;
}

/* line 49, ../../../app/stylesheets/layout.sass */
#inicio, #empresa, #productos, #servicios, #contactenos, #beneficios {
  margin-left: 43px;
  float: left;
  display: block;
  margin-top: 25px;
  text-decoration: none;
}

/* line 57, ../../../app/stylesheets/layout.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 60, ../../../app/stylesheets/layout.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 64, ../../../app/stylesheets/layout.sass */
#menu li a.on {
  color: white;
}
/* line 66, ../../../app/stylesheets/layout.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 71, ../../../app/stylesheets/layout.sass */
#menu .on {
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/layout.sass */
#menu #beneficios {
  color: #ffb100;
  font-size: 26px;
  margin-top: 20px;
}

/* line 79, ../../../app/stylesheets/layout.sass */
#inferior {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

/* line 84, ../../../app/stylesheets/layout.sass */
#productos-item {
  position: relative;
}

/* line 3, ../../../app/stylesheets/contacto.sass */
#izquierda {
  height: 500px;
  width: 600px;
  margin-left: 30px;
  float: left;
}

/* line 9, ../../../app/stylesheets/contacto.sass */
#izquierda-fondo {
  position: absolute;
  width: 550px;
  z-index: 3;
}

/* line 15, ../../../app/stylesheets/contacto.sass */
#izquierda .top {
  background: url("/images/fondo-zoom-superior.png") no-repeat 0 0 transparent;
  height: 50px;
  margin-top: 10px;
}
/* line 19, ../../../app/stylesheets/contacto.sass */
#izquierda .centro {
  background: url("/images/pixel-zoom-centro.png") repeat-y scroll 0 0 transparent;
  height: 435px;
}
/* line 22, ../../../app/stylesheets/contacto.sass */
#izquierda .bottom {
  background: url("/images/fondo-zoom-inferior.png") no-repeat scroll 0 0 transparent;
  height: 55px;
}

/* line 26, ../../../app/stylesheets/contacto.sass */
#contenido-zoom {
  height: 500px;
  float: left;
  position: absolute;
  width: 520px;
  top: 0;
  left: 0;
  margin-top: 50px;
}

/* line 35, ../../../app/stylesheets/contacto.sass */
#contacto {
  height: 375px;
  position: absolute;
  width: 450px;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 60px;
}

/* line 44, ../../../app/stylesheets/contacto.sass */
#contacto-titulo, #contacto-mail, #contacto-informacion {
  color: white;
  font-size: 18px;
}

/* line 48, ../../../app/stylesheets/contacto.sass */
#contacto-titulo {
  font-size: 26px;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* line 53, ../../../app/stylesheets/contacto.sass */
#contacto-mail {
  color: #7effff;
}

/* line 56, ../../../app/stylesheets/contacto.sass */
#contacto-informacion {
  line-height: 2.3em;
  margin-top: 15px;
}

/* line 60, ../../../app/stylesheets/contacto.sass */
#icono-hoja {
  background: url("/images/hoja-table-press.png") no-repeat 0 0 transparent;
  height: 50px;
  width: 50px;
  position: relative;
  float: right;
  top: 405px;
  margin-right: 35px;
}

/* line 69, ../../../app/stylesheets/contacto.sass */
#derecha {
  height: 500px;
  width: 500px;
  z-index: 3;
  float: left;
  margin-left: 55px;
  position: relative;
}

/* line 77, ../../../app/stylesheets/contacto.sass */
#fondo-derecha {
  background: url("/images/pixel-contacto-formulario.png") repeat-y 0 0 transparent;
  height: 497px;
  margin-top: 32px;
  position: relative;
}

/* line 83, ../../../app/stylesheets/contacto.sass */
#contacto-formulario {
  height: 450px;
  width: 400px;
  position: absolute;
  height: 0px;
  left: 0px;
}
/* line 89, ../../../app/stylesheets/contacto.sass */
#contacto-formulario input, #contacto-formulario textarea, #contacto-formulario select {
  margin-left: 50px;
  margin-top: 10px;
  height: 24px;
  width: 350px;
  opacity: 0.7;
}
/* line 95, ../../../app/stylesheets/contacto.sass */
#contacto-formulario p.formulario {
  color: white;
  margin-left: 50px;
  margin-top: 15px;
}

/* line 100, ../../../app/stylesheets/contacto.sass */
#formulario-mensaje {
  width: 400px;
}
/* line 102, ../../../app/stylesheets/contacto.sass */
#formulario-mensaje textarea {
  height: 100px;
}

/* line 105, ../../../app/stylesheets/contacto.sass */
#contacto-formulario button {
  float: right;
  margin-top: 10px;
}

/* line 109, ../../../app/stylesheets/contacto.sass */
#dirigido {
  width: 400px;
}
