/* line 1, ../../../app/stylesheets/inicio.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/inicio.sass */
body {
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 12, ../../../app/stylesheets/inicio.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* line 20, ../../../app/stylesheets/inicio.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 24, ../../../app/stylesheets/inicio.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 29, ../../../app/stylesheets/inicio.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 34, ../../../app/stylesheets/inicio.sass */
#menu {
  background-color: #41660f;
  height: 55px;
  width: 100%;
  margin-top: 8px;
  z-index: 1;
  float: left;
}

/* line 43, ../../../app/stylesheets/inicio.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 180px;
  margin-left: 45px;
  position: relative;
  margin-top: 7px;
  float: left;
}

/* line 52, ../../../app/stylesheets/inicio.sass */
#inicio, #empresa, #productos, #servicios, #contactenos {
  position: relative;
  margin-left: 50px;
  float: left;
  width: -1px;
  display: block;
  margin-top: 15px;
  text-decoration: none;
}

/* line 62, ../../../app/stylesheets/inicio.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 65, ../../../app/stylesheets/inicio.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 69, ../../../app/stylesheets/inicio.sass */
#menu li a.on {
  color: white;
}
/* line 71, ../../../app/stylesheets/inicio.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 76, ../../../app/stylesheets/inicio.sass */
#menu .on {
  text-decoration: none;
}

/* line 79, ../../../app/stylesheets/inicio.sass */
#inferior {
  height: 520px;
  width: 1260px;
  z-index: 2;
  position: absolute;
}

/* line 85, ../../../app/stylesheets/inicio.sass */
#inicio-logo img {
  top: 120px;
  left: 200px;
  position: relative;
}

/* line 90, ../../../app/stylesheets/inicio.sass */
#linea-fondo {
  height: 5px;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 3;
  margin-top: 300px;
}

/* line 98, ../../../app/stylesheets/inicio.sass */
#tab-beneficios {
  background: url("/images/pestana-beneficios") no-repeat 0 0 transparent;
}
