/* line 1, ../../../app/stylesheets/menu_productos.sass */
#productos-lista {
  position: relative;
  z-index: 4;
  left: 489px;
  height: 220px;
  width: 100px;
}

/* line 8, ../../../app/stylesheets/menu_productos.sass */
.centro {
  background: url("/images/pixel-desplegable.png") repeat-y 0 0 transparent;
  height: 200px;
  width: 143px;
}

/* line 12, ../../../app/stylesheets/menu_productos.sass */
.bottom {
  background: url("/images/desplegable-bottom.png") no-repeat 0 0 transparent;
  width: 143px;
}

/* line 16, ../../../app/stylesheets/menu_productos.sass */
#desplegable-fondo .seleccionado {
  height: 35px;
  width: 141px;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 4;
}

/* line 26, ../../../app/stylesheets/menu_productos.sass */
#productos-lista .menu-desplegable {
  color: white;
  z-index: 5;
  margin-left: 20px;
  line-height: 3em;
  position: relative;
  top: -10px;
  display: block;
  text-decoration: none;
}
