/* line 1, ../../../app/stylesheets/servicios.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/servicios.sass */
body {
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 12, ../../../app/stylesheets/servicios.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

/* line 20, ../../../app/stylesheets/servicios.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 24, ../../../app/stylesheets/servicios.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 29, ../../../app/stylesheets/servicios.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 34, ../../../app/stylesheets/servicios.sass */
#menu {
  background-color: #41660f;
  height: 55px;
  width: 100%;
  position: relative;
  margin-top: 8px;
  z-index: 1;
  float: left;
}

/* line 43, ../../../app/stylesheets/servicios.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 180px;
  margin-left: 45px;
  position: relative;
  margin-top: 7px;
  float: left;
}

/* line 52, ../../../app/stylesheets/servicios.sass */
#inicio, #empresa, #productos, #servicios, #contactenos {
  position: relative;
  margin-left: 50px;
  float: left;
  width: -1px;
  display: block;
  margin-top: 15px;
  text-decoration: none;
}

/* line 62, ../../../app/stylesheets/servicios.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 65, ../../../app/stylesheets/servicios.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 69, ../../../app/stylesheets/servicios.sass */
#menu li a.on {
  color: white;
}
/* line 71, ../../../app/stylesheets/servicios.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 76, ../../../app/stylesheets/servicios.sass */
#menu .on {
  text-decoration: none;
}

/* line 79, ../../../app/stylesheets/servicios.sass */
#inferior {
  height: 520px;
  width: 1260px;
  z-index: 2;
  position: absolute;
}

/* line 85, ../../../app/stylesheets/servicios.sass */
#izquierda {
  height: 500px;
  width: 600px;
  margin-left: 20px;
  float: left;
}

/* line 91, ../../../app/stylesheets/servicios.sass */
#izquierda-fondo {
  position: absolute;
  width: 550px;
  z-index: 3;
  float: left;
}

/* line 98, ../../../app/stylesheets/servicios.sass */
#izquierda .top {
  background: url("/images/fondo-zoom-superior.png") no-repeat 0 0 transparent;
  height: 50px;
  margin-top: 10px;
}
/* line 102, ../../../app/stylesheets/servicios.sass */
#izquierda .centro {
  background: url("/images/pixel-zoom-centro.png") repeat-y scroll 0 0 transparent;
  height: 435px;
}
/* line 105, ../../../app/stylesheets/servicios.sass */
#izquierda .bottom {
  background: url("/images/fondo-zoom-inferior.png") no-repeat scroll 0 0 transparent;
  height: 55px;
}

/* line 109, ../../../app/stylesheets/servicios.sass */
#contenido-zoom {
  height: 500px;
  float: left;
  position: absolute;
  width: 520px;
  top: 0;
  left: 0;
  margin-top: 50px;
}

/* line 118, ../../../app/stylesheets/servicios.sass */
#zoom {
  background: url("/images/servicios-1-zoom.png") no-repeat 0 0 transparent;
  height: 375px;
  position: absolute;
  width: 450px;
  top: 0;
  left: 20px;
  margin: 0;
  padding: 0;
}

/* line 128, ../../../app/stylesheets/servicios.sass */
body {
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
}

/* line 135, ../../../app/stylesheets/servicios.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
}

/* line 143, ../../../app/stylesheets/servicios.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 147, ../../../app/stylesheets/servicios.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 152, ../../../app/stylesheets/servicios.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 157, ../../../app/stylesheets/servicios.sass */
#menu {
  background-color: #41660f;
  height: 55px;
  width: 100%;
  position: relative;
  margin-top: 8px;
  z-index: 1;
  float: left;
}

/* line 166, ../../../app/stylesheets/servicios.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 180px;
  margin-left: 45px;
  position: relative;
  margin-top: 7px;
  float: left;
}

/* line 175, ../../../app/stylesheets/servicios.sass */
#inicio, #empresa, #productos, #servicios, #contactenos {
  position: relative;
  margin-left: 50px;
  float: left;
  width: -1px;
  display: block;
  margin-top: 15px;
  text-decoration: none;
}

/* line 185, ../../../app/stylesheets/servicios.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 188, ../../../app/stylesheets/servicios.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 192, ../../../app/stylesheets/servicios.sass */
#menu li a.on p {
  color: white;
}
/* line 194, ../../../app/stylesheets/servicios.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 199, ../../../app/stylesheets/servicios.sass */
#menu .on {
  text-decoration: none;
}

/* line 202, ../../../app/stylesheets/servicios.sass */
#inferior {
  height: 520px;
  width: 1260px;
  z-index: 2;
  position: absolute;
}

/* line 208, ../../../app/stylesheets/servicios.sass */
#izquierda {
  height: 500px;
  width: 600px;
  margin-left: 20px;
  float: left;
}

/* line 214, ../../../app/stylesheets/servicios.sass */
#izquierda-fondo {
  position: absolute;
  width: 550px;
  z-index: 3;
  float: left;
}

/* line 221, ../../../app/stylesheets/servicios.sass */
#izquierda .top {
  background: url("/images/fondo-zoom-superior.png") no-repeat 0 0 transparent;
  height: 50px;
  margin-top: 10px;
}
/* line 225, ../../../app/stylesheets/servicios.sass */
#izquierda .centro {
  background: url("/images/pixel-zoom-centro.png") repeat-y scroll 0 0 transparent;
  height: 435px;
}
/* line 228, ../../../app/stylesheets/servicios.sass */
#izquierda .bottom {
  background: url("/images/fondo-zoom-inferior.png") no-repeat scroll 0 0 transparent;
  height: 55px;
}

/* line 232, ../../../app/stylesheets/servicios.sass */
#contenido-zoom {
  height: 500px;
  float: left;
  position: absolute;
  width: 520px;
  top: 0;
  left: 0;
  margin-top: 50px;
}

/* line 241, ../../../app/stylesheets/servicios.sass */
#zoom {
  background: url("/images/servicios-1-zoom.png") no-repeat 0 0 transparent;
  height: 375px;
  position: absolute;
  width: 450px;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 36px;
}

/* line 251, ../../../app/stylesheets/servicios.sass */
#icono-hoja {
  background: url("/images/hoja-table-press.png") no-repeat 0 0 transparent;
  height: 50px;
  width: 50px;
  position: relative;
  float: right;
  top: 405px;
  margin-right: 35px;
}

/* line 260, ../../../app/stylesheets/servicios.sass */
#contenido-zoom .nombre-producto {
  height: 150px;
  position: relative;
  width: 450px;
  top: 392px;
  left: 40px;
}

/* line 267, ../../../app/stylesheets/servicios.sass */
#nombre-zoom {
  font-family: verdana;
  color: white;
  font-size: 24px;
}

/* line 272, ../../../app/stylesheets/servicios.sass */
#derecha {
  height: 500px;
  width: 470px;
  float: left;
  position: relative;
  z-index: 3;
  margin-left: 60px;
}

/* line 280, ../../../app/stylesheets/servicios.sass */
#fotos servicios a {
  float: left;
}

/* line 283, ../../../app/stylesheets/servicios.sass */
#fondo-derecha {
  background: url("/images/pixel-contacto-formulario.png") repeat-y 0 0 transparent;
  height: 300px;
  position: relative;
  margin-top: 158px;
}

/* line 289, ../../../app/stylesheets/servicios.sass */
#servicios-texto {
  color: #f8fcdd;
  line-height: 1.6em;
  width: 390px;
  margin-top: 250px;
  margin-left: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: justify;
  font-size: 14px;
}
/* line 300, ../../../app/stylesheets/servicios.sass */
#servicios-texto b {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  margin-left: 36px;
}

/* line 306, ../../../app/stylesheets/servicios.sass */
#icono-hoja {
  background: url("/images/hoja-table-press.png") no-repeat 0 0 transparent;
  height: 50px;
  width: 50px;
  position: relative;
  float: right;
  top: 405px;
  margin-right: 35px;
}

/* line 315, ../../../app/stylesheets/servicios.sass */
#contenido-zoom .nombre-producto {
  height: 150px;
  position: relative;
  width: 450px;
  top: 392px;
  left: 40px;
}

/* line 322, ../../../app/stylesheets/servicios.sass */
#nombre-zoom {
  font-family: verdana;
  color: white;
  font-size: 24px;
}

/* line 327, ../../../app/stylesheets/servicios.sass */
#derecha {
  height: 500px;
  width: 470px;
  float: left;
  position: relative;
  z-index: 3;
  margin-left: 60px;
}

/* line 335, ../../../app/stylesheets/servicios.sass */
#fotos-servicios a {
  float: left;
  margin-top: 32px;
  margin-right: 15px;
  display: block;
}
/* line 340, ../../../app/stylesheets/servicios.sass */
#fotos-servicios a img {
  border: 0px;
}

/* line 343, ../../../app/stylesheets/servicios.sass */
#fondo-derecha {
  background: url("/images/pixel-contacto-formulario.png") repeat-y 0 0 transparent;
  height: 300px;
  position: relative;
  margin-top: 228px;
}

/* line 349, ../../../app/stylesheets/servicios.sass */
#servicios-texto {
  color: #f8fcdd;
  line-height: 1.6em;
  width: 390px;
  margin-top: 250px;
  margin-left: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: justify;
  font-size: 14px;
}
/* line 360, ../../../app/stylesheets/servicios.sass */
#servicios-texto b {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}
