/* line 1, ../../../app/stylesheets/layout.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/layout.sass */
body {
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, ../../../app/stylesheets/layout.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* line 20, ../../../app/stylesheets/layout.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 24, ../../../app/stylesheets/layout.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 29, ../../../app/stylesheets/layout.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 34, ../../../app/stylesheets/layout.sass */
#menu {
  background-color: #41660f;
  height: 70px;
  width: 100%;
  margin-top: 8px;
  float: left;
}

/* line 41, ../../../app/stylesheets/layout.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 250px;
  margin-left: 70px;
  margin-top: 8px;
  float: left;
}

/* line 49, ../../../app/stylesheets/layout.sass */
#inicio, #empresa, #productos, #servicios, #contactenos, #beneficios {
  margin-left: 43px;
  float: left;
  display: block;
  margin-top: 25px;
  text-decoration: none;
}

/* line 57, ../../../app/stylesheets/layout.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 60, ../../../app/stylesheets/layout.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 64, ../../../app/stylesheets/layout.sass */
#menu li a.on {
  color: white;
}
/* line 66, ../../../app/stylesheets/layout.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 71, ../../../app/stylesheets/layout.sass */
#menu .on {
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/layout.sass */
#menu #beneficios {
  color: #ffb100;
  font-size: 26px;
  margin-top: 20px;
}

/* line 79, ../../../app/stylesheets/layout.sass */
#inferior {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

/* line 84, ../../../app/stylesheets/layout.sass */
#productos-item {
  position: relative;
}

/* line 5, ../../../app/stylesheets/styles.sass */
#izquierda-fondo {
  position: relative;
  width: 550px;
  z-index: 0;
}

/* line 10, ../../../app/stylesheets/styles.sass */
#izquierda {
  float: left;
  height: 500px;
  width: 600px;
  margin-left: 50px;
}
/* line 15, ../../../app/stylesheets/styles.sass */
#izquierda .top {
  background: url("/images/fondo-zoom-superior.png") no-repeat 0 0 transparent;
  height: 50px;
  margin-top: 10px;
}
/* line 19, ../../../app/stylesheets/styles.sass */
#izquierda .centro {
  background: url("/images/pixel-zoom-centro.png") repeat-y scroll 0 0 transparent;
  height: 435px;
}
/* line 22, ../../../app/stylesheets/styles.sass */
#izquierda .bottom {
  background: url("/images/fondo-zoom-inferior.png") no-repeat scroll 0 0 transparent;
  height: 55px;
}

/* line 26, ../../../app/stylesheets/styles.sass */
#contenido-zoom {
  position: absolute;
  width: 520px;
  top: 40px;
  left: 0;
  z-index: 0;
}

/* line 33, ../../../app/stylesheets/styles.sass */
#zoom {
  height: 375px;
  width: 450px;
  margin-top: 10px;
  margin-left: 36px;
}

/* line 39, ../../../app/stylesheets/styles.sass */
#icono-hoja {
  background: url("/images/hoja-table-press.png") no-repeat 0 0 transparent;
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 35px;
  margin-top: 20px;
}

/* line 47, ../../../app/stylesheets/styles.sass */
#contenido-zoom .nombre-producto {
  margin-left: 35px;
}

/* line 50, ../../../app/stylesheets/styles.sass */
#nombre-zoom {
  font-family: verdana;
  color: white;
  font-size: 24px;
}

/* line 55, ../../../app/stylesheets/styles.sass */
#codigo-zoom {
  font-family: verdana;
  color: white;
  font-size: 24px;
  font-size: 20px;
  margin-top: 10px;
}

/* line 62, ../../../app/stylesheets/styles.sass */
#derecha {
  float: left;
  position: relative;
  width: 480px;
  height: 490px;
  margin-top: 35px;
  border: 2px dashed black;
}

/* line 70, ../../../app/stylesheets/styles.sass */
#flecha-izq, #flecha-der, #contenido-galeria {
  float: left;
}

/* line 73, ../../../app/stylesheets/styles.sass */
#flecha-izq, #flecha-der {
  color: white;
  font-size: 35px;
  font-weight: 900;
  padding: 74px 24px 0px;
  width: 21px;
  height: 36px;
}
/* line 80, ../../../app/stylesheets/styles.sass */
#flecha-izq p, #flecha-der p {
  width: 21px;
  height: 36px;
  cursor: pointer;
}

/* line 85, ../../../app/stylesheets/styles.sass */
#flecha-izq p {
  background: url(/images/flecha-izquierda.png) no-repeat 0 0;
}

/* line 88, ../../../app/stylesheets/styles.sass */
#flecha-der p {
  background: url(/images/flecha-derecha.png) no-repeat 0 0;
}

/* line 91, ../../../app/stylesheets/styles.sass */
#galeria {
  margin-top: 25px;
}

/* line 94, ../../../app/stylesheets/styles.sass */
#contenido-galeria {
  width: 340px;
}

/* line 97, ../../../app/stylesheets/styles.sass */
.lista-thumbs {
  float: left;
}

/* line 101, ../../../app/stylesheets/styles.sass */
#derecha .lista-container {
  width: 340px;
  height: 200px;
  float: left;
  margin: 0 10px;
}
/* line 106, ../../../app/stylesheets/styles.sass */
#derecha .scrollable {
  position: relative;
  overflow: hidden;
  height: 200px;
  width: 340px;
}
/* line 111, ../../../app/stylesheets/styles.sass */
#derecha .scrollable .items {
  width: 2000em;
  position: absolute;
}
/* line 114, ../../../app/stylesheets/styles.sass */
#derecha .lista-thumbs .thumb {
  width: 100px;
  height: 83px;
  background-color: white;
  float: left;
  margin: 10px 10px 10px 0;
  display: block;
}
/* line 121, ../../../app/stylesheets/styles.sass */
#derecha .lista-thumbs .thumb.last {
  margin-right: 0;
}
/* line 123, ../../../app/stylesheets/styles.sass */
#derecha .lista-thumbs .thumb a {
  display: block;
}
/* line 125, ../../../app/stylesheets/styles.sass */
#derecha #descripcion {
  clear: left;
  float: left;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}
/* line 131, ../../../app/stylesheets/styles.sass */
#derecha #descripcion .info {
  position: relative;
  padding: 10px 20px;
  background: url(/images/pixel-productos-info.png) repeat-y 0 0;
}
/* line 135, ../../../app/stylesheets/styles.sass */
#derecha #descripcion h2 {
  font-weight: lighter;
  color: white;
  padding: 10px 0;
}
/* line 139, ../../../app/stylesheets/styles.sass */
#derecha #descripcion .info p {
  font-size: 13px;
  text-align: justify;
  line-height: 1.4em;
  color: #f8fcdd;
}
/* line 144, ../../../app/stylesheets/styles.sass */
#derecha #abre-especs {
  width: 480px;
  background: url(/images/pixel-productos-especificaciones.png) repeat-y 0 0;
  float: left;
}
/* line 148, ../../../app/stylesheets/styles.sass */
#derecha #abre-especs a {
  font-size: 16px;
  padding: 10px 0;
  float: right;
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

/* line 156, ../../../app/stylesheets/styles.sass */
#especs {
  position: absolute;
  bottom: 38px;
  left: 0;
  background: url(/images/pixel-productos-info.png) repeat-y 0 0;
  color: white;
  height: 235px;
  width: 100%;
  overflow: auto;
}
/* line 165, ../../../app/stylesheets/styles.sass */
#especs p {
  font-size: 14px;
}
/* line 167, ../../../app/stylesheets/styles.sass */
#especs .spec {
  width: 100%;
  margin: 5px 0;
  clear: both;
}
/* line 171, ../../../app/stylesheets/styles.sass */
#especs .spec p {
  padding: 0;
  margin: 10px;
  margin-bottom: 0;
}
/* line 175, ../../../app/stylesheets/styles.sass */
#especs .spec p.label {
  background: url("/images/pixel-especificaciones.png") repeat-y scroll 0 0 transparent;
  padding: 3px;
}
/* line 178, ../../../app/stylesheets/styles.sass */
#especs .spec p.dato-1, #especs .spec p.dato-2 {
  text-align: right;
  width: 40%;
  margin: 5px 25px 10px 20px;
}
/* line 182, ../../../app/stylesheets/styles.sass */
#especs .spec p.dato-1 {
  float: left;
}
/* line 184, ../../../app/stylesheets/styles.sass */
#especs .spec p.dato-2 {
  float: right;
}
