/* line 1, ../../../app/stylesheets/layout.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../../../app/stylesheets/layout.sass */
body {
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  background-color: #eeeeee;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* line 12, ../../../app/stylesheets/layout.sass */
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

/* line 20, ../../../app/stylesheets/layout.sass */
.stretch {
  width: 100%;
  height: 100%;
}

/* line 24, ../../../app/stylesheets/layout.sass */
#wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 29, ../../../app/stylesheets/layout.sass */
#superior {
  height: 50px;
  width: 100%;
  position: relative;
}

/* line 34, ../../../app/stylesheets/layout.sass */
#menu {
  background-color: #41660f;
  height: 70px;
  width: 100%;
  margin-top: 8px;
  float: left;
}

/* line 41, ../../../app/stylesheets/layout.sass */
#logo {
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent;
  height: 60px;
  width: 250px;
  margin-left: 70px;
  margin-top: 8px;
  float: left;
}

/* line 49, ../../../app/stylesheets/layout.sass */
#inicio, #empresa, #productos, #servicios, #contactenos, #beneficios {
  margin-left: 43px;
  float: left;
  display: block;
  margin-top: 25px;
  text-decoration: none;
}

/* line 57, ../../../app/stylesheets/layout.sass */
#menu input {
  margin-top: 20px;
  margin-left: 70px;
}
/* line 60, ../../../app/stylesheets/layout.sass */
#menu li {
  float: left;
  list-style-type: none;
  display: block;
}
/* line 64, ../../../app/stylesheets/layout.sass */
#menu li a.on {
  color: white;
}
/* line 66, ../../../app/stylesheets/layout.sass */
#menu .texto-menu {
  font-family: verdana;
  font-size: 20px;
  color: #a4dc22;
  font-weight: lighter;
}
/* line 71, ../../../app/stylesheets/layout.sass */
#menu .on {
  text-decoration: none;
}
/* line 74, ../../../app/stylesheets/layout.sass */
#menu #beneficios {
  color: #ffb100;
  font-size: 26px;
  margin-top: 20px;
}

/* line 79, ../../../app/stylesheets/layout.sass */
#inferior {
  height: 600px;
  width: 1200px;
  margin: 0 auto;
}

/* line 84, ../../../app/stylesheets/layout.sass */
#productos-item {
  position: relative;
}

/* line 5, ../../../app/stylesheets/tableros.sass */
#izquierda {
  height: 500px;
  width: 560px;
  margin-left: 40px;
  float: left;
}

/* line 11, ../../../app/stylesheets/tableros.sass */
#izquierda-fondo {
  position: absolute;
  width: 550px;
  z-index: 3;
}

/* line 17, ../../../app/stylesheets/tableros.sass */
#izquierda .top {
  background: url("/images/fondo-zoom-superior.png") no-repeat 0 0 transparent;
  height: 50px;
  margin-top: 10px;
}
/* line 21, ../../../app/stylesheets/tableros.sass */
#izquierda .centro {
  background: url("/images/pixel-zoom-centro.png") repeat-y scroll 0 0 transparent;
  height: 435px;
}
/* line 24, ../../../app/stylesheets/tableros.sass */
#izquierda .bottom {
  background: url("/images/fondo-zoom-inferior.png") no-repeat scroll 0 0 transparent;
  height: 55px;
}

/* line 28, ../../../app/stylesheets/tableros.sass */
#contenido-zoom {
  height: 500px;
  float: left;
  position: absolute;
  width: 520px;
  top: 0;
  left: 0;
  margin-top: 50px;
}

/* line 37, ../../../app/stylesheets/tableros.sass */
#zoom {
  height: 375px;
  position: absolute;
  width: 450px;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 36px;
}

/* line 47, ../../../app/stylesheets/tableros.sass */
#icono-hoja {
  background: url("/images/hoja-table-press.png") no-repeat 0 0 transparent;
  height: 50px;
  width: 50px;
  position: relative;
  float: right;
  top: 405px;
  margin-right: 35px;
}

/* line 56, ../../../app/stylesheets/tableros.sass */
#contenido-zoom .nombre-producto {
  height: 150px;
  position: relative;
  width: 450px;
  top: 392px;
  left: 40px;
}

/* line 63, ../../../app/stylesheets/tableros.sass */
#nombre-zoom, #codigo-zoom {
  font-family: verdana;
  color: white;
  font-size: 24px;
}

/* line 68, ../../../app/stylesheets/tableros.sass */
#derecha {
  height: 500px;
  width: 470px;
  float: left;
  position: relative;
  z-index: 3;
  margin-left: 60px;
}

/* line 76, ../../../app/stylesheets/tableros.sass */
#fondo-derecha {
  background: url("/images/pixel-contacto-formulario.png") repeat-y 0 0 transparent;
  height: 350px;
  margin-top: 120px;
  position: relative;
}

/* line 82, ../../../app/stylesheets/tableros.sass */
#texto-cantos-tableros, #texto-tableros {
  color: #f8fcdd;
  line-height: 1.6em;
  width: 390px;
  margin-top: 165px;
  margin-left: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: justify;
  font-size: 16px;
}
/* line 93, ../../../app/stylesheets/tableros.sass */
#texto-cantos-tableros b, #texto-tableros b {
  font-size: 18px;
  color: white;
}

/* line 97, ../../../app/stylesheets/tableros.sass */
#texto-tableros {
  margin-top: 140px;
}

/* line 100, ../../../app/stylesheets/tableros.sass */
#derecha {
  float: left;
  position: relative;
  width: 480px;
  height: 490px;
  margin-top: 35px;
  border: 2px dashed black;
}

/* line 109, ../../../app/stylesheets/tableros.sass */
#derecha .lista-thumbs .thumb {
  width: 100px;
  height: 83px;
  background-color: white;
  float: left;
  margin: 10px 10px 10px 0;
  display: block;
}
/* line 116, ../../../app/stylesheets/tableros.sass */
#derecha .lista-thumbs .thumb.last {
  margin-right: 0;
}
/* line 118, ../../../app/stylesheets/tableros.sass */
#derecha .lista-thumbs .thumb a {
  display: block;
}
/* line 120, ../../../app/stylesheets/tableros.sass */
#derecha #descripcion {
  clear: left;
  float: left;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}
/* line 126, ../../../app/stylesheets/tableros.sass */
#derecha #descripcion .info {
  position: relative;
  padding: 10px 20px;
  background: url(/images/pixel-productos-info.png) repeat-y 0 0;
}
/* line 130, ../../../app/stylesheets/tableros.sass */
#derecha #descripcion h2 {
  font-weight: lighter;
  color: white;
  padding: 10px 0;
}
/* line 134, ../../../app/stylesheets/tableros.sass */
#derecha #descripcion .info p {
  font-size: 13px;
  text-align: justify;
  line-height: 1.4em;
  color: #f8fcdd;
}
/* line 139, ../../../app/stylesheets/tableros.sass */
#derecha #abre-especs {
  width: 480px;
  background: url(/images/pixel-productos-especificaciones.png) repeat-y 0 0;
  float: left;
}
/* line 143, ../../../app/stylesheets/tableros.sass */
#derecha #abre-especs a {
  font-size: 16px;
  padding: 10px 0;
  float: right;
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

/* line 151, ../../../app/stylesheets/tableros.sass */
#especs {
  position: absolute;
  bottom: 38px;
  left: 0;
  background: url(/images/pixel-productos-info.png) repeat-y 0 0;
  color: white;
  height: 340px;
  width: 100%;
  overflow: auto;
}
/* line 160, ../../../app/stylesheets/tableros.sass */
#especs p {
  font-size: 14px;
}
/* line 162, ../../../app/stylesheets/tableros.sass */
#especs .spec {
  width: 100%;
  margin: 5px 0;
  clear: both;
}
/* line 166, ../../../app/stylesheets/tableros.sass */
#especs .spec p {
  padding: 0;
  margin: 10px;
  margin-bottom: 0;
}
/* line 170, ../../../app/stylesheets/tableros.sass */
#especs .spec p.label {
  background: url("/images/pixel-especificaciones.png") repeat-y scroll 0 0 transparent;
  padding: 3px;
}
/* line 173, ../../../app/stylesheets/tableros.sass */
#especs .spec p.dato-1, #especs .spec p.dato-2 {
  text-align: right;
  margin: 5px 25px 10px 20px;
}
/* line 177, ../../../app/stylesheets/tableros.sass */
#especs .spec p.dato-1 {
  float: left;
}
/* line 179, ../../../app/stylesheets/tableros.sass */
#especs .spec p.dato-2 {
  float: right;
}
