%script{:src => "/javascripts/thirdparty/jquery/jquery-1.4.2.min.js", :type => "text/javascript"}
%script{:src => "/javascripts/thirdparty/jquery/ui/jquery.ui.core.min.js", :type => "text/javascript"}
%script{:src => "/javascripts/thirdparty/jquery/ui/jquery.ui.widget.js", :type => "text/javascript"}
%script{:src => "/javascripts/thirdparty/jquery/ui/jquery.ui.selectmenu.js", :type => "text/javascript"}
