*
  margin: 0
  padding: 0

body
  background-color: #EEEEEE
  height: 100%
  overflow: hidden
  width: 100%
  font-family: "Lucida Grande",Arial,Helvetica,Verdana,sans-serif

#background
  width: 100%
  height: 100%
  position: absolute
  left: 0px
  top: 0px
  z-index: -1

.stretch
  width: 100%
  height: 100%

#wrap
  height: 100%
  width: 100%
  position: relative

#superior
  height: 50px
  width: 100%
  position: relative

#menu
  background-color: #41660F
  height: 55px
  width: 100%
  // position: relative
  margin-top: 8px
  z-index: 1
  float: left

#logo
  background: url("/images/logo-table-press.png") no-repeat scroll 0 0 transparent
  height: 60px
  width: 180px
  margin-left: 45px
  position: relative
  margin-top: 7px
  float: left

#inicio, #empresa, #productos, #servicios, #contactenos
  position: relative
  margin-left: 50px
  float: left
  width: -1px
  display: block
  margin-top: 15px
  text-decoration: none

#menu
  input
    margin-top: 20px
    margin-left: 70px
  li
    float: left
    list-style-type: none
    display: block
    a.on
      color: white
  .texto-menu
    font-family: verdana
    font-size: 20px
    color: #A4DC22
    font-weight: lighter
  .on
    text-decoration: none

#inferior
  height: 520px
  width: 1260px
  z-index: 2
  position: absolute

#izquierda
  height: 700px
  width: 400px
  margin-left: 100px
  float: left

#contenedor-beneficios
  margin-top: 30px

#izquierda img
  margin-top: 10px
  float: left

#derecha
  height: 510px
  width: 470px
  float: left
  position: relative
  z-index: 3
  margin-left: 80px

#fondo-derecha
  background: url("/images/pixel-contacto-formulario.png") repeat-y 0 0 transparent
  height: 510px
  position: relative
  margin-top: 40px

#beneficios-texto
  color: #F8FCDD
  line-height: 1.6em
  width: 390px
  margin-top: 50px
  margin-left: 35px
  position: absolute
  top: 0px
  left: 0px
  text-align: justify
  font-size: 14px
  b
    font-size: 18px
    color: #FFFFFF
    margin-bottom: 10px

#beneficios-lista
  color: #F8FCDD
  line-height: 1.6em
  width: 390px
  margin-top: 215px
  margin-left: 35px
  position: absolute
  top: 0px
  left: 0px
  text-align: justify
  font-size: 14px
