@import layout

#inferior
  width: 980px

#inicio-logo img
  margin-top: 150px
  margin-left: 40px

#linea-fondo
  height: 3px
  width: 100%
  background-color: white
  position: absolute
  z-index: 3
  top: 500px
