@import layout

#inferior
  width: 100%

#inicio-logo img
  top: 120px
  left: 200px
  position: relative

#linea-fondo
  height: 5px
  width: 100%
  background-color: #FFFFFF
  position: relative
  z-index: 3
  margin-top: 300px

#tab-beneficios
  background: url("/images/pestana-beneficios") no-repeat 0 0 transparent
