// Chapilla

#especs
  height: 280px

#derecha
  #especs-tableros
    .spec
      // margin-top: 0
      p
        // margin-top: 0
        &.dato-1, &.dato-2
          margin-bottom: 0

#wrap #superior
  #menu
    #productos-item
      
#desplegable-fondo
  #productos-lista
    // margin-top: 70px
    li
      margin: 0      