#izquierda
  #contenedor-beneficios
    %img{:src => "/images/beneficios-1.png"}/
    %img{:src => "/images/beneficios-2.png"}/
    %img{:src => "/images/beneficios-3.png"}/
#derecha
  #fondo-derecha
  %p#beneficios-texto
    %b Porqu&eacute; elegir tablepress
    %br/
    %br/
    Tenemos un exclusivo cat&aacute;logo con referencias de chapillas importadas que se convierte en una excelente herramienta de venta para nuestros clientes.
    %br/
    Entregamos nuestros productos en todo el territorio nacional.
  %ul#beneficios-lista
    %li Oportunidad de entrega en punto de venta.
    %li Tecnolog&iacute;a de punta con maquinaria de &uacute;ltima generaci&oacute;n.
    %li Calidad en nuestros procesos.
    %li Modelo de negocio que se ajusta a las necesidades de nuestros clientes.
    %li Costo de flete con precios diferenciales por acuerdo con proveedores de tranporte.
    %li Asesor&iacute;a y asistencia en el punto de venta por nuestra fuerza de ventas.
    %li Productos novedosos con las &uacute;ltimas tendencias de dise&ntilde;o del mercado.
    %li Ubicaci&oacute;n estrat&eacute;gica en el &aacute;rea metropolitana de Medell&iacute;n.

=content_for(:stylesheets) do
  = stylesheet_link_tag 'css/beneficios.css', :media => 'screen'
