#izquierda 
  #foto-empresa &nbsp;
#derecha
  .top &nbsp;
  .centro &nbsp;
  .bottom &nbsp;
  #contenido-empresa
    %p
      tablepress es una compa&ntilde;&iacute;a que ha surgido como respuesta a un mercado cada d&iacute;a 
      m&aacute;s exigente en la producci&oacute;n y comercializaci&oacute;n de tableros enchapados en madera 
      reconstituida para muebles y arquitectura de interiores.
    %p 
      Con la experiencia de varios a&ntilde;os y aprovechando los desarrollos tecnol&oacute;gicos, hemos 
      implementado una novedosa planta de Medell&iacute;n, estrat&eacute;gicamente situada, con excelentes 
      soluciones log&iacute;sticas para llegar a cualquier mercado en el &aacute;mbito nacional de manera eficiente.
    %p
      Producimos tableros enchapados con productos de excelente calidad, de materia prima exclusivamente importada
      por nosotros y enchapes reconocidos de alta demanda nacional e internacional.
    %p 
      Nuestros equipos de &uacute;ltima generaci&oacute;n permiten hacer enchape en materiales de diferentes 
      sustratos como TRIPLEX, MDF, MUF, TABLEX, en diferentes calibres, de acuerdo a las necesidades del arquitecto,
      ebanista o carpintero y con alta capacidad de respuesta en la entrega oportuna y &oacute;ptima, facilitando el 
      manejo del inventario de nuestros clientes.

=content_for(:stylesheets) do
  = stylesheet_link_tag 'css/empresa.css', :media => 'screen'
