#izquierda
  .top &nbsp;
  .centro &nbsp;
  .bottom &nbsp;
  #fotos-empresa
    %img{:src=>"/images/foto-empresa-1-peque.jpg"}
    %img{:src=>"/images/foto-empresa-2-peque.jpg"}
    %img{:src=>"/images/foto-empresa-3-peque.jpg"}   
    %img{:src=>"/images/foto-empresa-4-peque.jpg"}
#derecha
  .top &nbsp;
  .centro &nbsp;
  .bottom &nbsp;
  #contenido-empresa
    %p.texto-empresa tablepress es una compania que ha surgido como respuesta a un mercado cada dia mas exigente en la produccion y comercializacion de tableros enchapados en madera reconstituida para muebles y arquitectura de interiores.
    %br/
    Con la experiencia de varios anos y aprovechando los desarrollos tecnologicos, hemos implementado una novedosa planta de Medellin, estrategicamente situada, con exelentes soluciones logisticas para llegar a cualquier mercado en el ambito nacional de manera eficiente.
    %br/
    Producimos tableros enchapados con productos de excelente calidad, de materia prima exclusivamente importada por nosotros y enchapes reconocidos de alta demanda nacional e internacional.
    %br/
    Nuestros equipos de ultima generacion permiten hacer enchape en materiales de diferentes sustratos como TRIPLEX, MDF, MUF, TABLEX, en diferentes calibres, de acuerdo a las necesidades del arquitecto, ebanista o carpintero y con alta capacidad de respuesta en la entrega oportuna y optima, facilitando el manejo del inventario de nuestros clientes.
=content_for(:stylesheets) do
  = stylesheet_link_tag 'css/empresa.css', :media => 'screen'
=content_for(:javascripts) do
  = jquery_plugin "cycle/jquery.cycle.lite.min"
  = javascript_include_tag "slideshow"
  :javascript
    $("#fotos-empresa").cycle();
