%html
  %head
    %link{:href => "stylesheets/styles.css", :rel => "stylesheet", :type => "text/css"}/
    %title www.table-press.com
  %body
    #wrap
      #superior
        %ul#menu
          %li
            %a#logo{:href => "#"} &nbsp;
          %li
            %a#inicio{:href => "#"}
              %p.texto-menu inicio
          %li
            %a#empresa{:href => "#"}
              %p.texto-menu empresa
          %li
            %a#productos.on{:href => "#"}
              %p.texto-menu productos
              %span.on &nbsp;
          %li
            %a#servicios{:href => "#"}
              %p.texto-menu servicios
          %li
            %a#contactenos{:href => "#"}
              %p.texto-menu contactenos
          %li
            %input{:type => "text", :value => "buscar"}/
            %button buscar
      #inferior
        #izquierda
          #izquierda-fondo
            .top &nbsp;
            .centro &nbsp;
            .bottom &nbsp;
            #contenido-zoom
              #zoom &nbsp;
              #icono-hoja &nbsp;
              .nombre-producto
                %p#nombre-zoom Ebano
                %p
                %p#codigo-zoom cod TP-0100
                %p
    #background
      %img.stretch{:src => "images/nogal.jpg"}/
