%h1 tablepress

%p Hemos recibido su información de contacto:

%p Nombre: #{@contacto[:nombre]}
%p Email: #{@contacto[:email]}
%p Asunto: #{@contacto[:asunto]}
%p Mensaje: #{@contacto[:mensaje]}

%p Muy pronto recibirá respuesta de nuestra parte
